/* INÍCIO DAS CONFIGURAÇÕES GERIAS DA PÁGINA */

*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

#corpo-pagina-geral{
    background: #FF0000;
}
 
#corpo-cabecalho{
    background: #000;
}

#titulo-pagina{
    text-align: center;
    color: yellow;
    padding: 20px;
    text-decoration: underline;
}

#corpo-conteudo{
    background: #FFF;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

h2{
    color: yellow;
    border: 3px solid #000;
}

.texto-red{
    color: #ff0000;
    font-weight: bold;

}

/* FIM DAS CONFIGURAÇÕES GERIAS DA PÁGINA */

/* INÍCIO CONFIGURAÇÃO CONTEÚDO */

        /* INÍCIO CONFIGURAÇÃO TÓPICO "CLASSES DO FLEX BOX" */

        .caixa-flexbox-int{
            border: 3px solid #FF0000;
            background: #CCCCCC;
            height: 200px;
        }

        .item-flexbox-int{
            border: 1px solid #000000;
            padding: 5px;
        }



        /* FIM CONFIGURAÇÃO TÓPICO "CLASSES DO FLEX BOX" */


/* FIM CONFIGURAÇÃO CONTEÚDO */