/* INÍCIO DAS CONFIGURAÇÕES GERIAS DA PÁGINA */

*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

#corpo-pagina-geral{
    background: #FFF;
}
 
#corpo-cabecalho{
    background: #000;
}

#titulo-pagina{
    text-align: center;
    color: yellow;
    padding: 20px;
    text-decoration: underline;
}

#corpo-conteudo{
    background: #FFF;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

h2{
    color: red;
    border: 2px solid #000;
}

.texto-red{
    color: red;
}

/* FIM DAS CONFIGURAÇÕES GERIAS DA PÁGINA */

/* INÍCIO CONFIGURAÇÃO CONTEÚDOS */




 

/* FIM CONFIGURAÇÃO CONTEÚDOS */